body{
    
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, 0.637);

}

.top-section{
    
    margin: 20px;
   
}

.flex-container{

    display: flex;
    margin-bottom: 120px;


}

.half-width{
   width: 50%;
   padding-left: 10%;

}
.half-width img{
    width: 70%;
    padding-top: 12%;
}
.half-width p{

    width: 60%;
    padding-bottom: 8%;

}

.half-width h1{
    font-size: 45px;
    width: 75%;
    margin-top: 25%;
}
h2{
    font-size: 35px;
}
.specific-color{
    color: rgb(218, 137, 70);
    font-size: 45px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient( rgb(158, 40, 19), rgb(236, 144, 57)  );
    padding: 12px 26px;
    font-weight: 600;
    color: white;
    border-radius: 25px;
    margin-top: 60px;
  
}

.about-me-section{
    background-image: url(images/aboutme-bg.png);
    background-repeat: no-repeat;  
    
}
.recipies{
    margin: 40px;
}

.recipe-item{
    width: 30%;
    margin-left: 3%;
    margin-right: 1%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 40px;

    box-shadow: 10px 10px 30px gray;
}
.My-recipies{
    text-align: center;
    
}
.recipe-item img{
    width: 100%;
    height: 250px;
    border-radius: 35px;
}


