body{
    
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, 0.637);

}

.top-section{
    
    margin: 30px;
   
}

.flex-container{

    display: flex;
    margin-bottom: 150px;


}

.top{
   width: 50%;
   padding: 5%;
 


}
.top img{
    width: 90%;
}

h1{
    font-size: 45px;
}
h2{
    font-size: 30px;
}
.specific-color{
    color: rgb(218, 137, 70);
    font-size: 45px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient( rgb(158, 40, 19), rgb(236, 144, 57)  );
    padding: 12px 26px;
    font-weight: 600;
    color: white;
    border-radius: 25px;
    margin-top: 60px;
  
}

.about-me-section{
    background-image: url(images/aboutme-bg.png);
    background-repeat: no-repeat;
    padding: 100px 50px 0px 80px;
    

}
.about-me{
    width: 50%;
   

  
}
.about-me img{
    width: 70%;
}

.recipe-item{
    width: 25%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px ;
}
.My-recipies{
    text-align: center;
}
.recipe-item img{
    width: 90%;
    padding-top: 10%;
}


