body{
    margin: 0px auto;
    font-family: 'Open Sans', sans-serif;
    

}

#menu{
    overflow: hidden;
    background-color: rgb(245, 239, 239);
    height: 150px;
    margin: 20px 15px 0px 0px;
}

#menu ul li {
    display: inline-block;
    margin-top: 40px;
}
#menu a{
    text-align: center;
    color: rgba(0, 0, 0, 0.575);
    text-decoration: none;
    margin: 40px;
    padding-left: 27px;
    font-size: 25px;
    font-weight: 900;
}

.top-section{

    margin-left: 20px;
    margin-bottom: 120px;
}
   

.flex-container{

    display: flex;
    
}

.half-width{
   width: 50%;
   padding-left: 10%;
   

}
.half-width img{
    width: 70%;
    padding-top: 20%;
}
.half-width p{

    width: 75%;
    padding-bottom: 40px;
    
}

.half-width h1{
    font-size: 45px;
    width: 65%;
    margin-top: 30%;
    color: rgba(0, 0, 0, 0.637);
}

.specific-color{
    color: rgb(218, 137, 70);
    font-size: 40px;
}
.font-color{
    color: rgba(0, 0, 0, 0.637);;
}
#order-food-button{
    text-decoration: none;
    background-image: linear-gradient( rgba(158, 40, 19, 0.911), rgba(236, 143, 57, 0.89)  );
    padding: 12px 26px;
    font-weight: 600;
    color: white;
    border-radius: 25px;
    margin-top: 60px;
  
}

.about-me-section{
    background-image: url(images/aboutme-bg.png);
    background-repeat: no-repeat;  
    margin-bottom: 120px;
    
}

#contact-button{
    text-decoration: none;
    background-image: linear-gradient( rgba(77, 9, 55, 0.836), rgb(207, 84, 135)  );
    padding: 12px 26px;
    font-weight: 600;
    color: white;
    border-radius: 25px;
    margin-top: 60px;
  

}
.recipies{
    margin: 40px;
}
.recipies h1{
    font-size: 40px;
}

.recipe-item{
    width: 30%;
    margin-left: 3%;
    margin-right: 1%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 10px 10px 30px gray;
}
.My-recipies{
    text-align: center;
    
}
.recipe-item img{
    width: 100%;
    height: 250px;
    border-radius: 35px;
}

.get-recipes{
    background-color: rgb(255, 247, 240);
}
.subscribe{
  
    width: 50%;
    margin: 30px 0px 25px 80px;
    font-size: 20px;
    
}
#signup{
    margin-top: 60px; 
}
#signup input{
   
    padding: 10px;
    border-radius: 20px;

}

#signup button{
    margin-top: 15px;
    height: 40px;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 20px;
}


footer{
    background-color: rgba(7, 7, 26, 0.973);
    margin-bottom: 0px;
    text-align: center;
    padding: 25px;
    height: 250px;
}
footer h1{
    font-size: 40px;
    color: gray;
}
footer p{
    color: white;
}
